---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/channels.info
    body:
      encoding: UTF-8
      string: channel=C03RCDX1A&token=xoxp-3862473022-3862473028-11865514597-c4037b0229
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - read
      X-Oauth-Scopes:
      - identify,read,post,client,admin
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channel":{"id":"C03RCDX1A","name":"general","is_channel":true,"created":1424999024,"creator":"U03RCDX0U","is_archived":false,"is_general":true,"is_member":true,"last_read":"1426453826.000000","latest":{"text":"translation
        missing: en.drop.success_to_room","username":"SlackMud","type":"message","subtype":"bot_message","ts":"1426453826.000000"},"unread_count":0,"unread_count_display":0,"members":["U03RCDX0U","U03S2MZBG"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"This
        channel is for team-wide communication and announcements. All team members
        are in this channel.","creator":"","last_set":0}}}'
  recorded_at: Mon, 05 Oct 2015 19:23:06 GMT
recorded_with: VCR 2.9.3
